.header{
  width: 100%;
  background-color: #fff;
  z-index: 10;
  height: 100px;
  position: relative;
}

.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding:0 20px;
}

.header__start{
  height: 30px;
  line-height: 30px;
}

.header__hamburger {
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  width: 34px;
  height: 34px;
  /* line-height: 27px; */
  text-align: center;
  font-size: 1rem;
  border: 1px solid #606060;
  background-color: #efefef;
  border-radius: 2px;
}


.header__hamburger__tab {
  display: none;
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  width: 34px;
  height: 34px;
  /* line-height: 27px; */
  text-align: center;
  font-size: 1rem;
  border: 1px solid #606060;
  background-color: #efefef;
  border-radius: 2px;
}


.header__center{
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
}

.header__title {
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}


.header__end{
  display: flex;
}

.header__profile {
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  width: 34px;
  height: 34px;
  border: 1px solid #767676;
  border-radius: 2px;
  background-color: #efefef;
  /* line-height: 31px; */
  text-align: center;
}



@media screen and (max-width:791px){
  .header__start{
    display: none;
  }

  .header__center{text-align: left;}
}