:root{--nav-width-big: 240px; --nav-width: 220px; --nav-width-small:100px} 

.nav{
  position: fixed;
  top: 0;
  left: 0;
}

.nav__wrapper{
  width: var(--nav-width-big);
  min-width: 200px;
  min-height: 100vh;
  /*background-color: #f8f8f8;*/
  padding: 100px 20px 0 20px;
  list-style: none;
}

.nav__wrapper button{
  margin-right: 0;
}

.nav__wrapper li{
  display: flex;
  padding: 10px 8px;
}


.nav__wrapper li:hover{
  background-color: #f4f4f4;
  border-radius: 2px;
}

.nav__icon{
  height: 36px;
  line-height: 27px;
  border: none;
  background: none;
  font-size: 1rem;
}

.nav__menu{
  border: none;
  background: none;
  font-size: 0.8rem;
  text-wrap: nowrap;
}

.toggle.nav__wrapper li { 
  flex-direction: column; padding: 8px 0px; align-items: center;
}

.toggle.nav__wrapper .nav__menu {
  font-size: 0.5rem;
}

.toggle.nav__wrapper {
  min-width: 0px;
  width: var(--nav-width-small);
}


@media screen and (min-width:791px){
  .m__slidebar{
    display: none;
  }
}

@media screen and (max-width:791px){


    
  /* 모바일 사이드바 */
  .wrap {
    background-color: #fff;
    transition: left 0.3s ease;
    overflow-x: auto;
    overflow-y: auto;
    flex-direction: column;
    height: calc(100vh - 100px);
  }

  .nav{position: sticky; top:0;}

  .nav__wrapper {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    /* width: fit-content; 내용에 맞게 너비 조정 */
    min-width: 100vw;
    min-height: 50px;
    overflow-x: auto;
    position: sticky;
    top: 0;
  }


  .wrap > .nav {
    padding: 0  0 0 10px;
    background-color: #fff;
  }

  .nav__wrapper li {
    padding: 5px 8px;
}
}