.wrap{
  display: flex;
}

h3{margin-bottom: .2rem !important;}

.thumbs {
  margin-left: var(--nav-width-big); /* nav의 너비만큼 여백을 줌 */
  background-color: #fff;

}

.thumbs__wrapper {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between;*/
  padding: 10px 30px 0 0px;
}

.thumbs__item {
  width: 25%;
  margin: 0px 0px 35px;
  padding-left: 20px; 
}

.thumbs__thumbnail {
  max-width: 100%;
  margin: 0 0 10px 0;
  border-radius: 6px;
}


.thumbs__text--title{
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  color: #555;
  font-size: 12px;
  line-height: 18px;
}

.thumbs__text--des {
  font-family: "Roboto", "Arial", 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  /* margin-top: 0.3rem; */
  font-size: 16px;
  line-height: 1rem;
  overflow: hidden;
  height: 1rem;
  width: 100%;
  color: #0f0f0f;
}

.thumbs__text--day{
  font-family: 'Noto Sans KR', "Pretendard", -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 300;
  margin-top:0.3rem;
  font-size:0.7rem;
  color: #999;
  margin-left: 1px;
}

.toggle.thumbs {
  margin-left: var(--nav-width-small);
}

@media screen and (max-width:1900px) {
  .thumbs__item {
    width: 25%;
  }
}

@media screen and (max-width:1575px) {
  .thumbs__item {
    width: 33%;
  }

  .thumbs__wrapper {
    padding: 10px 20px 0 0px;
  }
}


@media screen and (max-width:1080px) {

  .thumbs__item {
    width: 50%;
  }
}


@media screen and (max-width:791px) {

  .toggle.thumbs {
    margin-left: 0;
  }

  .thumbs__wrapper{
    margin: 10px 0 0;
  }

  .thumbs {
    margin-left: 0;
  }
}


@media screen and (max-width:651px) {
  .thumbs__item {
    width: 100%;
  }

  .thumbs__wrapper {
    margin: 0px 0 0 0px;
    padding: 20px 20px 0;
  }

  .thumbs__item {
    padding-left: 0px;
}
}
